# COMUNS À AMBOS

*.h5
.venv/
.vit_venv/
.tf_venv/
.cnn_venv/

# ESPECÍFICOS DO DESKTOP

Datasets/DATASET EQUINOS
Datasets/DATASET IMAGENET
Datasets/DATASET RATOS

# ESPECÍFICOS DO NOTEBOOK

Datasets/Dataset_Ratos
Datasets/ImageNet_TFRecords
Datasets/Pre_Trained_Weights
Main_Validation/Vision Transformers/Results/Experimento 1 - ViT/checkpoint_5000
Main_Validation/Vision Transformers/Results/Experimento 2 - ViT/checkpoint_20000
Main_Project/VisionTransformers/Results/Experimento 3 - ViT/best_0
Main_Project/VisionTransformers/Results/Experimento 3 - ViT/final_1735
Main_Project/VisionTransformers/Results/Experimento 4 - ViT (Rev1)/final_500