# ======================================================================================================================
# Os pacotes devem ser inseridos no ambiente virtual destinado à execução geral do projeto e para a
# condução de treinamentos que utilizam especificamente a arquitetura RESNET-50
# ----------------------------------------------------------------------------------------------------------------------
# The packages must be inserted into the virtual environment intended for the general execution of the project
# and for the conducting training that specifically uses the RESNET-50 architecture
# ======================================================================================================================

tensorflow==2.10.0
numpy==1.23.5
scipy==1.13.1
tensorboard==2.10.1
Pillow
scikit-learn~=1.6.1
openpyxl
PyQt5~=5.15.11
pandas~=2.3.3
tensorflow-datasets==4.7.0
protobuf==3.19.0
matplotlib
seaborn
tqdm
ipykernel
