# ======================================================================================================================
# Os pacotes devem ser inseridos no ambiente virtuaL destinado exclusivamente para execução do tensorflow
# voltado para a criação dos TFRecords, caso os aquivos .TAR da imagenet sejam utilizados em um processo de
# pré-treino ou fine-tunning
# ----------------------------------------------------------------------------------------------------------------------
# The packages must be placed in the virtual environment exclusively designated for running tensorflow
# aimed at creating TFRecords, in case the .TAR files from imagenet are used in a process of pre-training or fine-tuning
# ======================================================================================================================

# TensorFlow GPU ou CPU (escolha sua variante)
tensorflow==2.10.0

# Versão correta do NumPy para TF 2.10
numpy==1.23.5

# Para leitura e manipulação de tar/images
tensorflow-datasets==4.7.0

# Utilidades opcionais
absl-py>=0.12.0
tqdm
pillow
scipy